# Project-specific
**/pyarmor_runtime_000000/
src/barks-reader/src/barks_reader/_version.py
src/comic-utils/src/comic_utils/get_panel_bytes.py
src/barks_compleat_reader.egg-info
.venv/
logs/
.env.runtime
.coverage

# Python
__pycache__/

# PyCharm / IntelliJ
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/shelf
.idea/**/aws.xml
.idea/**/contentModel.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/**/libraries
.idea/**/sonarlint/
.idea/$CACHE_FILE$
.idea/httpRequests
.idea/caches/build_file_checksums.ser
*.iws
