[importlinter]
root_package = barks_reader
include_external_packages=True

[importlinter:contract:1]
name = Core should remain pure and never import UI
type = forbidden
source_modules =
    barks_reader.core
forbidden_modules =
    barks_reader.ui
    kivy

